
  <section id={{this.id}} class="rest-card">
  <img id="package-pic" src={{this.imageFilename}}>
  <div class="package-details">
  <h2>{{this.name}}</h2>
  <p>{{this.cuisine}}</p>
  <p>{{this.item_name}}</p>
  </div>
  </section>
