<div class="package">
    <h1>{{rest.name}}</h1>
    <img src={{rest.imageFilename}}>
    <p>For our Appetizer we have: {{rest.package.Appetizer}}</p>
    <p>Our main course consists of: {{rest.package.Main}}</p>
    <p>and to finish it of we offer {{rest.package.Dessert}} for desert.</p>
    
</div>